.container {
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    justify-content: center;
    background: #373c4d;
}

.wrapAvatar {
    background-color: #314752;
    height: 25%;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.avatar {
    position: absolute;
    top: 1em;
    z-index: 10;
}
.avtImg {
    width:120px;
    height:120px;
    border-radius:50%;
    border:solid;
    border-color: floralwhite;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapInfoUser {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapInfoUser hr {
    background:#363944 ;
}
.infoUser {
    position: absolute;
    top:2em;
    height: 60%;
    width: 50%;
    /* background: #56607c; */
    border-radius: 10%;
}
.follow {
    display: flex;
    justify-content: center;
    align-items: center;
}
.labelRow {
    display: flex;
}
.labelLeft {
    width: 40%;
    font-weight: bold;
}
.labelRight {
    width: 60%;
}
.labelRight input{
    padding-left: 1em;
    width: 80%;
    text-align: left;
    color: black;
}

.bottom {
    width: 100%;
}
.cardProfile{
    position: relative;
    width: 70%;
    height: 80vh;
    margin-top: 2em;
}
.btnSave {
    width: 200px;
    position: absolute;
    bottom: 1em;
    left: 50%;
    margin-left: -100px;

}
