.container{
  display: flex;
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  overflow: hidden;
}
.listOfUsers{
  width: 30%;
  height: 100%;
  overflow-x: hidden;
  background: #3B4257;
}
.chatArea{
  width: 70%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  background:#49536E;
}
.defaultAreaChat {
  position: absolute;
  top: 50% ;
  left: 50% ;
  margin-left: -128px;
  margin-top:  -128px;
}
.chatHeader{
  position: fixed;
  width: 70%;
  height: 40px;
  background: #90A1D6;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
}
.chatControls{
  display: flex;
  position: fixed;
  width: 70%;
  min-height: 50px;
  bottom: 0;
  background-color: #373c4d;
  align-items: center;
}
.chatControls .chatText{
  width: 80%;
  border-width: 0;
  height: 50px;
  background-color: #373c4d;
  padding-left: 10px;
}
input {
  outline: none;
  color: #fff;
}
.chatControls button{
  background-color:#49536E;
  border-radius: 20%;
  border: none;
  outline: none;
  cursor: pointer;
}
.chatbtn {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  height: 100%;
}

.displayName{
  display: flex;
  align-items: center;
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.displayName.active{
  background: #ccc;
}

.displayName .displayPic{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 25px;
}

.displayName .displayPic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.messageStyleAuth{
  background: skyblue;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px;
  display: inline-block;
}
.messageStyleUser{
  background:#ccc;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px;
  display: inline-block;
}

.messageSections{
  height: calc(100% - 90px);
  width: 100%;
  overflow-x: hidden;
  position: relative;
  top: 40px;
}

.imageChat img{
  max-width: 300px;
  padding: 5px 10px;
}
.previewImg {
  position: relative;
  margin-top: 2px;
}
.previewImg button{
  position: absolute;
  top: 0;
  right: -2px;
  color: #fff;
  background: #282D3C;
  border-radius: 50%;
}
