.App {
  text-align: center;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 5%;
  z-index: 1;
  /* background-color: #e9e9eb; */
  width: 70%;
  margin: 0 10rem;
  border-radius: 10px;
  background-color: rgb(0, 0, 0); 
  background-color: rgba(172, 168, 168, 0.4);
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}
.app__iconButton {
  flex: 0;
}
